.shoppingcart {
    margin-top: 1.5em;
    margin-right: 2em;
    align-items: center;
    text-decoration: none;
}

.marcador{
    width: 1.5em;
    height: 1.5em;
    font-size: small;
    margin-left: 0.5em;
    text-decoration: none;
}