.navbar {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: #1976d2;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    box-shadow: 3px 3px 2px 0px #0d0d0e;
    color:beige;
    width: 100%;
    height: auto;
    text-decoration: none;
    
}

.lista {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    width: 80%;
    margin-right:1em;
   list-style: none;
   text-decoration: none;
   
}

.logo {
    width: 5em;
    height: 5em;
    
}
.nodecoration {
    text-decoration: none;
    list-style: none;
}

.home {
color:white;
font-size: medium;
font-weight: 100;
font-style: normal;
font-family:Arial, Helvetica, sans-serif;
}